<div *ngIf="animalStream$ | async as animals">
  <div [ngSwitch]="animals.type">
    <div *ngSwitchCase="ANIMAL_TYPES.CAT">
      <ng-container *ngTemplateOutlet="catTemplate; context:{ $implicit: animals.items }"></ng-container>
    </div>
    <div *ngSwitchCase="ANIMAL_TYPES.DOG">
      <ng-container *ngTemplateOutlet="dogTemplate; context:{ $implicit: animals.items }"></ng-container>
    </div>
    <div *ngSwitchDefault>
      <ng-container *ngTemplateOutlet="defaultTemplate; context:{ $implicit: animals.items }"></ng-container>
    </div>
  </div>
</div>

<ng-template #catTemplate let-cats>
  <h2>Cats list:</h2>
  <ul>
    <li *ngFor="let cat of cats">
      {{ cat.title }}
    </li>
  </ul>
</ng-template>

<ng-template #dogTemplate let-dogs>
  <h2>Dogs list:</h2>
  <ul>
    <li *ngFor="let dog of dogs">
      {{ dog.title }}
    </li>
  </ul>
</ng-template>

<ng-template #defaultTemplate let-animals>
  <h2>Animals list:</h2>
  <ul>
    <li *ngFor="let animal of animals">
      {{ animal.title }}
    </li>
  </ul>
</ng-template>
